body {
	background-color:#ff0000;
	background-image:url('../xy.jpg');
	background-repeat:no-repeat;
	 background-position:right top;
	background-attachment: scroll;
	//background-attachment: fixed;
	//background: #000 url('../xy.jpg') no-repeat right top;
}

